<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oops! Page Not Found</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/error.css">
  <script src="/scripts/lib/particle.js"></script>
</head>
<body>
  
<div class="error-page">
  <div>
    <h1 data-h1="404">404</h1>
    <p data-p="NOT FOUND">NOT FOUND</p>
  </div>
</div>
<div id="particles-js"></div>
<a href="<%= back%>" class="back">GO BACK</a>
</body>
</html>