<%- include("partial/header") %>
<body class="bg-cusWhite">
  <%- include("partial/white-navbar") %>

<div class="container-fluid bg-cusWhite py-5 px-5 position-relative" style="min-height: 69vh">
  <div class="row text-purple justify-content-center align-items-center">
    <div class="col-md-5 col-sm-12 d-flex justify-content-md-center flex-column justify-content-sm-start align-items-md-start align-items-sm-center">
      <h1>We built FastForm to make your life easier</h1>
      <span style="font-size: 110%">People have spent too much precious time waiting hours in line for their turn during multiple application processes. For businessmen and women around the world, it is sometimes extremely difficult to fit a wholeday application during their free time and still catch up on work. FastForm is a free service that makes it easier for you to send in your application and still have the rest of your day free.</span>
    </div>
    <div class="drop-shadow position-relative col-md-3 d-none d-md-block ml-5">
      <div id="runningMan"></div>
    </div>
  </div>
</div>

<div class="container-fluid bg-cusWhite mt-5 p-5 box-sizing-border text-dark-purple move-front">
  <div class="col-md-2 col-sm-4 mx-auto mb-md-0 mb-sm-3">
      <img src="./assets/group.png" alt="" class="img-fluid">
  </div>
  <h3 class="text-purple text-center">Who We Are</h3>
  <div class="col-md-6 col-sm-10 mx-auto mt-3 text-center">
    <p>
      FastForm is a small group of passionate students whose mission is to help with their time management. Giving people the option to do important things with the daily objects that they surround themselves with is a critical part of how we get there. We believe that by using our day to day technology comes better effeciency, better product, better decision, and better work environment. Both developers are committed to making FastForm an app that will help people now and in the future.
    </p>
  </div>
</div>

<%- include("partial/footer") %>