<footer class="container-fluid bg-dark-purple text-cusWhite pt-5 pb-4 px-3">
    <div class="row">
      <div class="col-3 ml-5 px-5">
        <ul class="no-list">
            <li class="text-bold text-peach mb-2">Resources</li>
            <li>
              <a class="my-2" href="/about">About Us</a>
            </li>
            <li>
              <a class="my-2" href="#">Contact Us</a>
            </li>
            <li>
              <a href="#" class="my-2">Help & Support</a>
            </li>
        </ul>
      </div>
      <div class="col-3 ml-5 px-5">
        <ul class="no-list">
            <li class="text-bold text-peach mb-2">Developers</li>
            <li>
              <a class="my-2" href="#">Alexis Dela Rosa</a>
            </li>
            <li>
              <a class="my-2" href="#">Elsie Kathryn Tagupa</a>
            </li>
        </ul>
      </div>
      <div class="col-3 ml-auto px-5 d-flex flex-row justify-content-center align-items-center">
        <span>Made with <span class="fas fa-heart text-danger"></span> by DCIS</span>
      </div>
    </div>
  </footer>
  



  <!-- SCRIPTS -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="/scripts/lib/jquery-3.4.1.min.js"></script>
  <script src="/scripts/lib/popper.min.js">
  </script>
  <script src="/scripts/lib/bootstrap.min.js">
  </script>
  <script src="/scripts/lib/font-awesome.js"></script>
  <script src="/scripts/lib/scrollbar.js"></script>
  <script src="/scripts/main.js"></script>
</body>

</html>