<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= (locals.title) ? title : 'FastForm'%></title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.themonster.xyz/styles/google-fonts.css">
  <link rel="stylesheet" href="https://www.themonster.xyz/styles/fancy-fonts.css">
  <link rel="stylesheet" href="/styles/scrollbar.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>