<div class="container-fluid bg-purple py-2 px-5 move-front">
  <div class="row">
    <nav class="navbar navbar-expand-lg flex-fill">
      <a class="navbar-brand" href="/">
        <h1 class="text-peach">FastForm</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fas fa-bars d-flex flex-column justify-content-center text-light"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item rounded">
            <a class="nav-link text-cusWhite" href="/about">About</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link text-cusWhite" href="/contact-us">Contact Us</a>
          </li>
          <li class="nav-item rounded dropdown">
            <a class="nav-link dropdown-toggle text-cusWhite" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Apply Now
            </a>
            <div class="dropdown-menu bg-dark-purple box-shadow" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-cusWhite" href="/drivers-license">Driver's License</a>
              <a class="dropdown-item disabled text-white-50" href="/business-permit">Business Permit</a>
              <a class="dropdown-item disabled text-white-50" href="/vehicle-registration">Vehicle Registration</a>
            </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control text-peach mr-sm-2 bg-transparent border-top-0 border-right-0 border-left-0 rounded-0 border-peach"
            type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <div class="dropdown">
          <button type="button" class="btn btn-outline-light border-0 fas fa-user-circle m-2 py-2" type="button"
            id="accountDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu dropdown-menu-right bg-dark-purple" aria-labelledby="accountDrop">
            <% if(locals.loggedIn && loggedIn) { %>
            <a class="dropdown-item text-cusWhite" href="/user">Profile</a>
            <a class="dropdown-item disabled" href="/settings">Account Settings</a>
            <a class="dropdown-item text-cusWhite" href="/applications">Applications</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="/log-out"><span class="fas fa-sign-out-alt mr-2"></span> Log
              Out</a>
            <% } else { %>
            <a class="dropdown-item text-cusWhite" href="/login">Login</a>
            <a class="dropdown-item text-cusWhite" href="/register">Register</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>