/* Patua One [Header], Sintony [Text] */

@font-face {
   font-family: 'Storm'; 
   src: url('../assets/fonts/STOREB__.TTF') format('truetype');
}

@font-face {
   font-family: 'Run'; 
   src: url('../assets/fonts/Run-6YeWA.ttf') format('truetype')
}

:root {
  --dark-purple: #251727;
  --purple: #4e2e54;
  --maroon: #954f75;
  --peach: #f8dac3;
  --cusWhite: #f8f4e9;
}

html,
body {
  height: 100%;
}

.text-dark-purple {
  color: var(--dark-purple) !important;
}

.text-purple {
  color: var(--purple) !important;
}

.text-maroon {
  color: var(--maroon) !important;
}

.text-peach {
  color: var(--peach) !important;
}

.text-cusWhite {
  color: var(--cusWhite) !important;
}

.bg-dark-purple {
  background-color: var(--dark-purple) !important;
}

.bg-purple {
  background-color: var(--purple) !important;
}

.bg-maroon {
  background-color: var(--maroon) !important;
}

.bg-peach {
  background-color: var(--peach) !important;
}

.bg-cusWhite {
  background-color: var(--cusWhite) !important;
}

.btn-primary {
  background-color: var(--purple) !important;
}

.btn-primary:hover {
  background-color: var(--dark-purple) !important;
}

.dropdown-menu.bg-cusWhite {
  background-color: #f8f7f4 !important;
}

.dropdown-item.disabled {
  background: rgba(0,0,0,0.05) !important;
  color: rgba(0,0,0,0.5) !important;
  font-style: italic;
}

.nav-item,
.dropdown-menu.bg-cusWhite .dropdown-item  {
  transition: all 200ms ease-in-out;
}

.nav-item.active a {
  width: fit-content;
  color: var(--purple) !important;
  border-bottom: 1px solid currentColor;
}

.nav-item:not(.disabled):hover,
.nav-item.show {
  background-color: rgba(248, 218, 195, 0.5);
}

.nav-item.disabled a {
  color: rgba(149, 79, 117, 0.4) !important;
}

.dropdown-menu.bg-cusWhite .dropdown-item:hover {
  background-color: rgba(248, 218, 195, 0.2);
}

.border-purple {
  border-color: var(--purple) !important;
}

.border-maroon {
  border-color: var(--maroon) !important;
}

.border-peach {
  border-color: var(--peach) !important;
}

.border-cusWhite {
  border-color: var(--cusWhite) !important;
}

.box-sizing-border {
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 0 4px 6px rgba(0,0,0,0.2) !important;
}

.box-shadow-dark {
  box-shadow: 0 4px 6px rgba(0,0,0,0.5) !important;
}

.drop-shadow {
  filter: drop-shadow(-4px 2px 6px rgba(0,0,0,0.5));
}

.inner-box-shadow {
  box-shadow: inset 0 -4px 6px rgba(0,0,0,0.2) !important;
}

.move-front {
  position: relative;
  z-index: 1;
}

.text-strike {
  text-decoration: line-through;
}

h1, h2, h3, h4 {
  font-family: "Patua One", sans-serif;
}

.slant {
  background: var(--cusWhite);
  -webkit-mask: linear-gradient(3deg, transparent 10%, black 5%);
}

.dotted {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(75%, -50%);
  height: 50%;
  width: 50%;
  background: var(--peach);
  -webkit-mask: url(../assets/polka.png) top left/auto 100% no-repeat;
}

.run {
  font-family: "Run", sans-serif;
}

.storm {
  font-family: "Storm", sans-serif;
}

.patua {
  font-family: "Patua One", serif;
}

.transx-neg-25 {
  transform: translateX(-25%);
}

.transx-neg-50 {
  transform: translateX(-50%);
}

.transx-neg-75 {
  transform: translateX(-75%);
}

.transx-neg-100 {
  transform: translateX(-100%);
}

.transx-25 {
  transform: translateX(25%);
}

.transx-50 {
  transform: translateX(50%);
}

.transx-75 {
  transform: translateX(75%);
}

.transx-100 {
  transform: translateX(100%);
}

.img-fluid-h {
  max-height: 100%;
  width: auto;
}

footer a {
  color: var(--cusWhite) !important;
}

footer a:hover {
  color: var(--peach) !important;
}

#requirements,
#requirements ul li {
  position: relative;
}

#requirements ul {
  margin-bottom: 0px;
}

#requirements::after {
  content: "Requirements For "attr(form);
  position: absolute;
  top: 0;
  left: 2%;
  background: white;
  padding: .5rem;
  border: 1px solid #6c757d;
  border-radius: .25rem;
  transform: translate(0, -50%);
  font-weight: bold;
  font-family: "Patua One", sans-serif;
}

.form-control[type="search"] {
  transition: all 200ms ease-in-out;
}

.form-control[type="search"]:focus {
  box-shadow: 0 2px 0px var(--dark-purple);
}

form#app {
  width: 80%;
}

form#app input[type="file"] {
  display: none;
}

form#app .form-group label {
  position: relative;
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

form#app .form-group label:hover {
  filter: saturate(50%);
}

#runningMan {
  height: 20rem;
  background: linear-gradient(to bottom right, var(--purple), var(--maroon));
  -webkit-mask: url(../assets/fastt.png) center/contain no-repeat;
  mask-image: url(../assets/fastt.png);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.run-anim {
  opacity: 0;
  transform: translateX(-50%);
  animation: run 800ms cubic-bezier(0.175, 0.885, 0.32, 1.1) forwards 500ms;
}

@keyframes run {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

button#accountDrop {
  font-size: 1.22rem;
}

.no-list {
  list-style: none;
  padding-left: 0;
}

.no-list li {
  margin-top: .3rem !important;
}

.imgInpt {
  cursor: pointer;
}

.imgInpt::after {
  content: "Change Profile Picture";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  font-weight: bold;
  opacity: 0; 
  transition: all 200ms ease-in-out;
  pointer-events: none;
}

.imgInpt:hover::after {
  opacity: 1;
}

.uploadLogo {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}